.eventsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px); 
    gap: 70px;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: center;
    list-style: none;
}


.err{
    display: flex;
    justify-content: center;
}